<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/actors/create" method="POST">
            <label for="first_name">First Name </label>
            <p><input type="text" name="first_name" id="first_name" required></p>
            <label for="rating">Rating </label>
            <label for="last_name">Last Name </label>
            <p><input type="text" name="last_name" id="last_name" required></p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="rating" required> </p>
            <p>
                <select name="favorite_movie_id" id="" required>
                    <option value="" disabled selected>- select movie - </option>
                    <% allMovies.forEach(movies => { %>
                    <option value="<%= movies.id %>"><%= movies.title %></option>
                    <% }); %>
                </select>
            </p>
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/actors">Listado de Actores</a></p>
        </form>
    </section>
    
</body>

</html>